.Contact__top{
    background: url("../../assets/images/bg5.jpg") 50% 0 no-repeat;
    background-size: cover;
}

.Contact__header {
    width: 270px;
}

.Contact__title {
    background: rgba(0, 0, 0, 0.6);
    padding: 0 5px;
}

@media all and (max-width: 1000px){
    .Contact__top {
        background-size: contain;
    }
}

