.staff__info__section {
    border-bottom: 1px solid #6e6d6d;
    padding-bottom: 62px;
    margin-bottom: 50px;
}

.info__title_staff {
    margin-top: 20px;
}

@media all and (max-width: 600px){
    .staff__header{
        margin-left: 45%;
        margin-right: 0;
        width: unset;
    }
}


.info__pic {
    background-repeat: no-repeat;
}
.ceo__pic {
    background-position: 50% 19%;
    background-size: 107%;
}

.gManager__pic {
    background-position: 50% 50%;
    background-size: 100%;
}

.organizer__pic {
    background-position: 50% 30%;
    background-size: 103%;
}

.secretary__pic {
    background-position: 50% 30%;
    background-size: 125%;
}

.accountant__pic {
    background-position: 50% 50%;
    background-size: 117%;
}

.partner__pic{
    background-position: 66% 50%;
    background-size: 110%;
}

.webdev__pic {
    background-position: 50% 48%;
    background-size: 91%;
}

.lawyer__pic {
    background-position: 50% 4%;
    background-size: 170%;
}

.mainPartner__pic {
    background-size: cover;
    background-position: 61% 8%;

}
@media all and (max-width: 999px) {
    .staff__title {
        font-size: 27px;
    }
    .staff__position {
        font-size: 25px;
    }
    .gManager__pic {
        background-size: 170%;
    }
    .ceo__pic {
        background-size: 180%;
    }
    .organizer__pic {
        background-size: 165%;
    }
    .secretary__pic {
        background-position: 57% 30%;
        background-size: 186%;
    }
    .accountant__pic {
        background-size: 160%;
    }
    .partner__pic {
        background-size: 170%;
    }
    .lawyer__info__item {
        width: 60%;
    }
}
@media all and (max-width: 600px) {
    .gManager__pic {
        background-size: 113%;
    }
    .ceo__pic {
        background-size: 127%;
    }
    .organizer__pic {
        background-size: 130%;
    }
    .accountant__pic {
        background-size: 130%;
    }
    .partner__pic {
        background-size: 120%;
    }
    .staff__info__section {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
}

@media all and (max-width: 430px) {
    .gManager__pic {
        background-size: 157%;
    }
    .ceo__pic {
        background-size: 160%;
    }
    .organizer__pic {
        background-size: 160%;
    }
    .accountant__pic {
        background-size: 180%;
    }
    .partner__pic {
        background-size: 160%;
        background-position: 66% 50%;
    }
}

