.HomeTop{
    background: url("../../assets/images/bg4.jpg") 50% 0 no-repeat;
    background-size: cover;
}

@media all and (max-width: 1000px){
    .HomeTop {
        background-size: contain;
    }
}

.HomeTop_title {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}
