.HomeMiddle{
    padding: 50px 0 20px;
}

.info__header{

}

.info__main-title{
    padding-bottom: 30px;
}

.info__section{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.info__title{
    margin-bottom: 30px;
    text-align: center;
}


.info__pic{
    border-radius: 6px;
    width: 450px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 5px 6px 8px 0 rgba(0,0,0,0.75);
}


.info__item{
    width: 50%;
}

.who__pic{
    background: url("../../assets/images/who-bg.jpg") 50% 32% no-repeat;
    background-size: cover;
}

.what__pic{
    background: url("../../assets/images/what-do-we.jpg") 50% 9% no-repeat;
    background-size: cover;
}

.why__pic{
    background: url("../../assets/staff/why-us1.jpg") 50% 36% no-repeat;
    background-size: cover;
}

.staff__pic{
    height: unset;
}

.info__text-left{
    padding: 10px 100px 5px 0;

}

.info__text-right{
    padding: 10px 0 5px 100px;
}


@media all and (max-width: 999px){
    .info__pic{
        border-radius: 6px;
        width: 270px;
    }
    .info__text-left{
        padding: 10px 25px 5px 0;

    }

    .info__text-right{
        padding: 10px 0 5px 33px;
    }
    .what__pic {
        background-position: 50% 50%;
        background-size: 177%;
    }
    .staff__pic {
        width: 368px;
    }
    .info__staff_item {
        width: 100%;
    }
}

@media all and (max-width: 600px){
    .info__section{
        margin-bottom: 0;
    }
    .info__title{
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .info__section{
        flex-direction: column;
    }
    .info__text{
        font-size: 15px;
    }
    .info__text-left{
        padding: 0 0 30px 0;

    }
    .info__text-right{
        padding: 0 0 30px 0;
    }
    .info__pic {
        width: 400px;
    }
    .info__text{
        text-align: center;
    }
    .info__main-title{
        padding-bottom: 0;
        text-align: center;
        font-size: 23px;
    }
    .info__item{
        width: 100%;
    }
    .what__pic {
        background-position: 50% 22%;
        background-size: 150%;
    }
}

@media all and (max-width: 430px){
    .info__pic {
        width: 290px;
    }
}
