.Card:hover .SportsmanCard,
.Card:focus .SportsmanCard {
    box-shadow: none;
}
.Spinner {
    height: 100px;
    width: 100px;

}

.Card-info {
    position: absolute;
    bottom: 8px;
    width: 80%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    right: 50%;
    transform: translateX(50%);
}

.SportsmanCard {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #fff;
    -webkit-box-shadow: 2px 5px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 5px 8px 0 rgba(0,0,0,0.75);
}

.SportsmanCard img {
    transform: scale(1);
    transition: 0.4s;
}

.Card:hover .SportsmanCard img {
    transform: scale(1.2);
    transition: 0.4s;
}



.Card-info {
    padding: 15px 5px 10px;
}

@media all and (max-width: 576px){
    .Card {
        padding: 10px 50px;
    }
    .SportsmanCard > img{
        height: auto !important;
    }

    .Card-info {
        bottom: 20px;
        width: 70%;
    }
}

@media all and (max-width: 350px){
    .Card-info {
        font-size: 14px;
        bottom: 20px;
        width: 60%;
        padding: 5px 2px 0;
    }

    .Card-info h5 {
        font-size: 17px;
    }

    .Card-info h6 {
        font-size: 16px;
    }
}

