.Card:hover .SportsmanCard,
.Card:focus .SportsmanCard {
    box-shadow: none;
    transform: translate(1px, 2px);
}
.Spinner {
    height: 100px;
    width: 100px;

}

.Card-info {
    position: absolute;
    bottom: 8px;
    width: 80%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    right: 50%;
    transform: translateX(50%);
}

.SportsmanCard {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #fff;
    -webkit-box-shadow: 2px 5px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 5px 8px 0 rgba(0,0,0,0.75);
}

.Card-info {
    padding: 15px 5px 10px;
}

@media all and (max-width: 576px){
    .Card {
        padding: 10px 50px;
    }
    .SportsmanCard > img{
        height: auto !important;
    }
}
